In [2]:
import pandas as pd

In [5]:
fpath = './corpus.tsv'
df = pd.read_csv(fpath, sep='\t', header=None, names=['id', 'contents'])

In [8]:
df

        id                                           contents
0      0-0  Spider-Man: Across the Spider-Verse is a 2023 ...
1      0-1  Sony began developing a sequel to Into the Spi...
2      0-2  Spider-Man: Across the Spider-Verse premiered ...
3      0-3  Spider-Man: Into the Spider-Verse arrived in t...
4      0-4  "The exact number? Oh boy, we kept adding, lik...
..     ...                                                ...
415  20-15  WHAT IS DRIVING THE INTEREST IN WATER-RELATED ...
416  20-16  The Little Mermaid: A Splashy Success in the P...
417  20-17  Halle Bailey and the rest of the cast of “The ...
418  20-18  With music by Alan Menken, lyrics by Howard As...
419  20-19  First released as an animated film in 1989, th...

[420 rows x 2 columns]